.header {
    background-color: #f1f1f1;
    padding: 20px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.content {
    margin: 20px;
    font-family: Arial, sans-serif;
}
.login {
    margin: 20px;
    font-family: Arial, sans-serif;
    float: right;
}